{% extends 'base.html' %}

{% block content %}
   {% for post in posts%}
   <div class='card'>
       <div class="card-header">
           <div class="profile-image">

           </div>
           <div class="post-info">
               <div class="post-name">{{ post.author }}</div>
               <div class="post-location"></div>
           </div>
           <div class="post-options"><i class="fa fa-ellipsis-h"></i></div>
           <div class="post-image">
               <img src=".images/"
           </div>

       </div>

   </div>
   <!-- <p>{{post.author}}</p>
   <p>{{post.caption}}</p> -->
   {% endfor %}
{% endblock%}