{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/insta.css'%}">

{% block content %}
   {% for post in posts%}
   <div class="card">
       <div class="card-header">
           <div class="profile-image">

           </div>
           <div class="post-info">
               <div class="post-name">{{ post.author }}</div>
               <div class="post-location">Nairobi</div>
           </div>
           <div class="post-options"><i class="fa fa-ellipsis-h"></i></div>
        </div>
           <div class="post-image"></div>
           <div class="engagement">
               <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
               <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
               <a href=""><i class="fa fa-share-square" aria-hidden="true"></i></a>
               <a href=""><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>

           </div>
           <div class="likes">
               <a href="">50</a>
           </div>
           <div class="caption">
           <a href=""><h2>{{ post.author }}</h2></a>
           <span><p>{{ post.caption }}</p></span>
        </div>
        <div class="time-posted">
            {{ post.created_date | timesince }} ago

        </div>
</div>
{% endfor %}
{% endblock%}