 
{%extends 'base.html'%}
{% load static %}


{% block styles%}
{{block.super}}

{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    {% if usernames %}
    <h1 style="font-family: 'Grand Hotel', cursive;">Found {{ usernames|length }} user(s) with username {{message}}</h1>
    {% else %}
    <h1 style="font-family: 'Grand Hotel', cursive;"> Found 0 users for the search term {{message}}</h1>
    {% endif %}

  </div>
  <div class="row">
    
    {% for user in usernames %}
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <h2><a href="" class="others"><class="list-inline" style="color: black; text-decoration: none;"> {{user.username}}</a></h2>
        </li>
        {% if user in users %}
        <li class="list-inline-item">
          <a href=""><button class="btn btn-info btn-sm">Following</button></a>
        </li>
        {% else %}
        <li class="list-inline-item">
          <a href=""><button class="btn btn-info btn-sm">Follow</button></a>
        </li>
        {% endif %}
      </ul>

    </div>
    {% endfor %}

  </div>

</div>
{% endblock %}